<div class="header">
  {{>common_1and1/header}}
</div>
<h1>{{>common_1and1/nav}}</h1>
<h3 style="color:#fc5144;">index 页面</h3>
<ul>
  {{#each allData}}
  <li><span style="color:#01aef2;">作者:</span> {{author}}</li>
  {{/each}}
</ul>
<div class="footer">
  {{>common_1and1/footer}}
</div>
