body{
  margin: 0;
  padding: 0;
  text-align: center;
}
.heade-and-footer{
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  color: #fff;
}
footer{
  background: green;
  @extend .heade-and-footer;
}
header{
  background: #fc6629;
  @extend .heade-and-footer;
}
ul li{
  list-style: none;
  display: inline-block;
  width: 4rem;
  height: 5rem;
  overflow: hidden;
  border: 1px solid #01aef2;
}
