@import "./common";
@import "./components/nav";
body{
  margin: 0;
  padding: 0;
  text-align: center;
}

footer{
  background: yellow;
}
header{
  background: #fc5144;
}
ul li{
  list-style: none;
  color: #666;
  font-size: .7rem;
}
